body{
    box-sizing: border-box;
    margin: 0; 
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url(../images/background.png);
    background-size: 100%;
    background-position: center center;
    padding: 20px;
}

h1 {
    font-size: 6vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#menu_trigger {
    display: none;
}

nav {
    background-color: rgb(0,0,0);
    width: 100%;
    position: sticky;
    transform: translateY(-1px);
    top: 0;
    z-index: 97;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    top: 0;
    justify-content: center;
}

nav li {
    padding: 10px;
    font-size: 18px;
}

nav li:hover {
    border: none;
    outline: none;
    background-color: rgb(24, 162, 187);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

nav li:hover a {
    color: rgb(0,0,0);
}

nav a {
    text-decoration: none;
    color: rgb(24, 162, 187);
}

.hero {
    background-color: rgb(255, 255, 255);
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 0 60px 0 ;
    color: rgb(0,0,0);
}

.hero h2 {
    font-weight: bold;
}

.container {
    display: flex;
}

.highlightPic{
    width: 100%;
    height: auto;
    flex: 1;
    position: relative;
    transition: .3s;
    padding: 20px;
}
  
.highlightPic img{
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: 4px;
}
  
.highlightPic:hover img{
    filter: blur(2px) brightness(60%);
}
   
.highlightPic :not(img){
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: .3s;
}
  
.highlightPic p{
    top: 40%;
    right: 1%;
}
  
.highlightPic:hover :not(img){
    opacity: 1;
}

.prefooter {
    background-color: rgb(0,0,0) ;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 0 auto;
    padding: 25px 50px 25px 50px;
}

.prefooter h2 {
    height: 50px;
    margin: 0;
    color: rgb(255, 255, 255) ;
    font-weight: bold;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contactInfo {
    flex: 1;
    text-align: center;
    align-self: center;
}

.map {
    flex: 1;
}

.scrollToTopBtn {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: rgb(24, 162, 187);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    transform: translateY(100px);
    transition: transform 0.2s, opacity 0.4s;
}
  
.scrollToTopBtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 162, 187);
}

.scrollBtnAnim {
    transform: translateY(0);
    opacity: 1;
}

footer {
    background-color: rgb(24, 162, 187);
    color: rgb(0,0,0);
    text-align: center;
    padding: 10px;
}

/* MEDIA QUERY*/

@media (max-width: 1100px) {
    .hero {
        margin: 0px 40px 0px 40px;
    } 

    .highlightPic {
        width: 75%;
    }
}

@media (max-width: 800px) {
    
    nav {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 35%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .4s, opacity .6s;
    }

    nav ul {
        flex-direction: column;
        padding-top: 70px;
    }

    nav li {
        align-self: center;
    }

    #hamburguer {
        position: fixed;
        width: 40px;
        height: 40px;
        z-index: 98;
        top: 25px;
        right: 25px;

    }
    
    #hamburguer span {
        display: block;
        width: 100%;
        background: rgb(24, 162, 187);
        height: 7px;
        margin-bottom: 6px;
        transition: all .4s;
        border-radius: 2px;
    }
    
    #hamburguer span:nth-child(1) {
        transform-origin: top left;
    }
    
    #hamburguer span:nth-child(3) {
        transform-origin: bottom left;
    }
    
    #menu_trigger {
        position: fixed;
        display: block;
        width: 40px;
        height: 40px;
        background: blue;
        z-index: 99;
        top: 20px;
        right: 20px;
        opacity: 0;
        cursor: pointer;
    }
    
    #menu_trigger:checked ~ nav {
        transform: translateX(0%);
        transition: transform .4s, opacity .6s;
    }
    
    #menu_trigger:checked ~ #hamburguer span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
    }
    #menu_trigger:checked ~ #hamburguer span:nth-child(2) {
        transform: translateX(100px);
        opacity: 0;
    }
    #menu_trigger:checked ~ #hamburguer span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        
    }

    .container {
        flex-direction: column;
    }

    .highlightPic {
        align-self: center;
    }

    .contacts {
        flex-direction: column;
    }

    .map {
        align-self: center;
        max-width: 100%;
    }

    .hero {
        flex-direction: column;
    }

}